<div class="card show-tweet">
    <div class="span tweet-options">
        <i class="fa fa-remove tool float-right"></i>
        <i class="fa fa-check tool float-right"></i>
    </div>
    <h1> You Said: </h1>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="und" dir="ltr">{{ body }}</p>&mdash; {{username}} (@{{handle}}) <a href="{{ link }}" >{{ date }}</a></blockquote>
    <div class="card-footer">
        {{ days }} Days Ago
    </div>
</div>
